 /* ----------pentru fisierul index.html---------------- */
 .item{ padding: 16px; 
border:1px solid gray;
}
.container{
    display: grid;
    gap: 10px;
    grid-template-columns:300px 300px;
}
.item1 {
    grid-row-start: 5;
    grid-row-end: 5;
}
.item5{
    grid-column-start:1;
    grid-column-end:3;  
}
.item9{
    grid-row-start:5;
    grid-row-end:7;
    grid-column-start:2;
    grid-column-end: 2;   
}
.item8 {
    grid-row-start: 1;
    grid-row-end: 1;
}

/* -----------pentru fisierul indexFlex.html------------ */

.it { padding: 16px; 
    border:1px solid gray;
    width: 300px;
    gap:10px;
    }
.flex-container {
    display: flex;
    flex-wrap:wrap;
}

/* -----------pentru fisierul indexSign.html---------- */
.containerSign{
    display: grid;
    gap: 3px;
    grid-template-columns:150px 150px 150px;
}
.labelSignUp{
    font-size:30px;
    grid-column-start:2;
    grid-column-end:4;  
}

.labelAlready{
    grid-column-start:2;
    grid-column-end:3;  
}
.placeholder{
    grid-column-start:1;
    grid-column-end:4;  
}
.buttonLogin{
    grid-row-start:6;
    grid-row-end:6;
    grid-column-start:3;
    grid-column-end:3;  

}




